@use 'global' as *;
@use 'tarjetas' as *;

.blog {
    background-color: #fff;
    max-width: unset;
    padding: 5% 10%;

    .title {
        @extend %base-title;
    }   

    .process-list{
        margin:  40px 0 36px;

        .process{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;

            & > div {
                & > h3 {
                    color: $dark-green-title;
                    margin-bottom: 0;
                    font-family: $font-title;
                    font-size: 30px;
                    font-weight: 500;
                }

            &  > p {
                color: $dark-green-text;
                }
            }

            .process-icon{
                width: 60px;
                height: 60px;
                margin-right: 10px;
                text-align: center;

                img {
                    height: 100%;
                }
            }
        }
    }

    button {
        height: auto;
        background-color: $dark-green-text;
        color: $white;
        border-radius: 8px;
        padding: 12px;
        width: 180px;
        margin-bottom: 15px;
        border: none;
        transition: background-color .5s ease-in-out;

        &:hover {
            background-color: $light-green;
        }
      }
}

