body {
    background-color: #fffbf7;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.fixed-header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 80px;
    
}

.header ul {
    padding: 0;
}

.header li {
    display: inline;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.header .logo {
    width: 20%;
}

.header .navbar {
    width: 60%;
    text-align: center;
}

.header .actions {
    width: 20%;
    text-align: center;
    font-size: 14px;
}

button[type=button] {
    background-color: #67b54b;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    padding: 12px 14px;
}

.sign-in {
    text-decoration: none;
    color: #67b54b;
    margin: 10px;
}

.main {
    margin-top: 280px;
    text-align: center;
}

.main .imagen-propiedades {
    width: 80%;
    height: auto;
    max-width: 1000px;
}

h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
}

h4 {
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 20px;
    color: #46484c;
}


p {
    color: #8b8b8bcc;
}

input[type=email] {
    padding: 15px 20px;
    border-radius: 10px 0 0 10px;
    border: solid 1px #b6b6b6;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

button[type=submit] {
    padding:  15px 20px;
    color: #fff;
    background-color: #025157;
    margin-left: -10px ;
    border: none;
    border-radius: 0 10px 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.promo {
    display: flex;
    width: 70%;
    margin:110px auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 50%;
}

.explanatory-video img {
    width: 120px;
    margin: 10px 0 0;
}

.publish {
    padding:20px;
    flex: 50%;
}

.publish h3 {
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 0;
}

.publish .texto-publish {
    color: #343434;
    font-weight: 400;
    font-size: 16px;
    color: #025157;
}

.publish .texto-gris-publish {
    color: #8b8b8bcc;
    font-weight: 400;
    font-size: 16px;
}

.publish .signup-form{
    height: 55px;
}

.publish .signup-form input {
    width: 60%;
    max-width: 250px;
    height: 75%;
    border: solid 1px #b6b6b6;
    border-radius: 8px;
    padding: 6px 20px;
    font-size: 16px;
}

.publish .signup-form button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 6px 20px;
    margin-left: -10px;
    height: 100%;
    font-size: 16px;
}

.features {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
    height: 660px;
    padding: 5% 10%;
    background-color: #025157;
}

.features-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}


.feature-content {
/*     display: flex;
    justify-content: flex-start;
    flex-direction: column; */
    flex: 3;
    padding: 30px 20px 40px 40px;
}

.feature-content a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #67b54b;
}

.feature-content h3{
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: #343434;
}

.feature-content p{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #343434;
}

.feature-image  {
    position: relative;
    flex: 1;
}

.feature-image img  {
    width: 200px;
    position: absolute;
    top: 90px;
    left: 30px;
    transition: left 0.5s ;
}

.feature-image img:hover  {
    left: 0;
}

figure {
    display:flex;
    justify-content: flex-start;
    margin: 0;
}

.imagen-responsiva {
    width: 40px;
}



